.Person {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    margin: 12px auto;
}

/* 
@media (min-width: 500px) {
    .Person {
        width: 400px;
        border: 2px solid #ddd;
    }
} */

